{% if site.data.services %}
<div class="strip" id="plans">
  
  <div class="container pt-6 pb-4 px-4">
    <div class="feature-product-title">
      <h4>Elige el mejor plan antiestrés para ti</h4>
    </div>
  </div>

  <div class="pb-6 pb-md-4 px-2">
    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 mb-2">
          <div class="feature">
            <h2 class="feature-title pt-2">Sesión antiestrés</h2>
            <p class="feature-description">Conoce tu nivel de estrés y desestrésate en menos de 30 minutos en nuestro espacio</p>
            <div class="feature-content">
              <h4 class="mb-2">
                Cada sesión incluye
              </h4>
              <i data-feather="mic" class="feature-icon"></i> Análisis de voz<br>
              <i data-feather="bar-chart-2" class="feature-icon"></i>  Informe de estrés<br>
              <i data-feather="headphones" class="feature-icon"></i>  Audio personalizado<br>
              <i data-feather='volume-2' class='feature-icon'></i> Baño de sonido <br> 
              <i data-feather='clock' class='feature-icon'></i><b style="margin-left: 5px">Total 30 minutos</b>
            </div>
            <a href="/assets/sample_stress_voice_report.pdf" class="mt-2" style="font-size: 16px">
              Ejemplo de informe de estrés <i data-feather='download' class="feature-icon"></i>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-2">
          <div class="feature feature-highlight">
            <p class="feature-highlight-box">⭐ 1ª sesión de 30 mins por {{site.data.seo.first_session_price}}€</p>
            <!-- <h5 class="pt-3">
              Conviértete en socio
            </h5>
            <p><i data-feather='check' class="feature-icon"></i> 2 sesiones al mes</p>
            <p><i data-feather='check' class="feature-icon"></i> 4 sesiones al mes</p> -->
            <p class="feature-description pt-3">La ciencia recomienda al menos 4 sesiones para ver resultados</p>
            <div class="feature-content pb-2">
              <h4 class="">
                Conviértete en socio
              </h4>
              <i data-feather='repeat' class="feature-icon"></i> 2 sesiones al mes<br>
              <i data-feather='repeat' class="feature-icon"></i> 4 sesiones al mes<br>
              <h4 class="pt-1">
                Bonos de sesiones
              </h4>
              <i data-feather="check" class="feature-icon"></i> 1 sesión<br>
              <i data-feather="check" class="feature-icon"></i> 4 sesiones<br>
              <i data-feather="check" class="feature-icon"></i> 8 sesiones<br>
            </div>
            <a class="feature-button button button-primary btn-lg" 
                href="/reservas" 
                onclick="gtag('event', 'start_booking', { event_category: 'Booking Link Laning', event_action: 'Click to Schedule', value: '{{site.data.seo.first_session_price}}'})">
              Reservar 1ª sesión de 30 mins
            </a>
            <p class="feature-description mt-1 mb-0">¡Te regalamos el informe de estrés!</p>

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a href="/planes" style="font-size: 20px">
          Ver todos los planes <i data-feather='chevron-right' class="feature-icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pb-2  pt-4 px-4">
    <div class="feature-product-title">
      <h4>¿Tienes dudas? Te ayudo a resolverlas y a reservar tu sesión</h4>
    </div>
  </div>
  <div class="container-sm pt-2 pb-6 px-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6 pb-4">
          <img alt="Iridis pirámide de meditación y sonido" class="feature-product img-fluid" width="100%" src="/assets/images/product/david.webp" />
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <p>Hola, soy David, fundador de Iridis Care.</p>
          <p>Mi próposito en la vida es ayudar a abrir corazones y el estrés los encierra.</p>
          <p>Te ayudo a:</p>
          <p><i data-feather='check' class="feature-icon"></i> Resolver tus dudas</p>
          <p><i data-feather='check' class="feature-icon"></i> Reservar tu 1ª sesión</p>
            <div class="row justify-content-center pt-1">
                <a class="button button-primary btn-lg animate__animated animate__pulse" style="background-color: #00a884" 
                href="https://api.whatsapp.com/send?phone=34686322484&text=Hola David, te quería preguntar una cosa.">
                <i class="fa fa-whatsapp "></i> Escribir a David via Whatsapp</a>    
                <a href="mailto:david@iridis.care?subject=Pregunta via web" style="font-size: 20px" class="pt-2">
                  Escribir a david@iridis.care <i data-feather='chevron-right' class="feature-icon"></i>
                </a>
              </div>
        </div>
      </div>
    </div>
</div>
{% endif %}