<div class="footer">
  <div class="container">

        <div class="row pl-1">
          <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
        </div>

        <div class="footer-inner mt-1">
          <div class="row"> 
            <div class="col-12 col-md-5 col-lg-5">
              <h6>Cónocenos</h6>
              <p>
                <a href="/about">🧑‍🚀 Sobre nosotros</a>
              </p>
              <p>
                <a href="https://elderly-fighter-a79.notion.site/Progress-logbook-9ffb8194af9645a89ff0b5f7e2def8ec}">🚀 Bitácora de progreso</a>
              </p>
              <p>
                <a href="https://elderly-fighter-a79.notion.site/Mission-Vision-62da47a387354fc2bb5c4cca95b0b8f8">❤️ Misión y visión</a>
              </p>
            </div>
            <div class="col-12 col-md-7 col-lg-7">
              <h6>Contacto</h6>
              <p>
                <a href="mailto:hola@iridis.care">📬 hola@iridis.care</a>
              </p>
              <p class="active">
                <a href="https://g.page/Psicologos-Toledo?share">🗺️ Tr.ª Cobarrubias, 1, Toledo</a>
              </p>
              <p>
                <a href="https://docs.google.com/document/d/1dqZRJvW75yp23pUDGfZrcQ95FaiOxSq01c9tcq2u6W8/edit?usp=sharing">✍️ Términos y condiciones</a>
              </p>
              <p>
                <a href="/privacidad">🔐 Política de privacidad</a>
              </p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

