<div class="footer">
  <div class="container px-3">

      <div class="row pl-1">
        <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
      </div>

      <div class="mt-1">
        <div class="row"> 
          <div class="col-12 col-md-3 col-lg-3">
            <h6>Cónocenos</h6>
            <p class="footer-text">
              <a href="https://iridis-care.notion.site/About-us-0eb33c13703d4429b1819374bc2066fc">Sobre nosotros</a>
            </p>
            <p class="footer-text">
              <a href="https://iridis-care.notion.site/Progress-logbook-9ffb8194af9645a89ff0b5f7e2def8ec">Progreso</a>
            </p>
            <p class="footer-text">
              <a href="https://iridis-care.notion.site/Mission-Vision-62da47a387354fc2bb5c4cca95b0b8f8">Misión y visión</a>
            </p>
          </div>
          <div class="col-12 col-md-3 col-lg-3">
            <h6>&nbsp;</h6>
            <p class="footer-text">
              <a href="/ciencia-estres-sonido">Ciencia, estrés y sonido</a>
            </p>
            <p class="footer-text">
              <a href="/piramide-meditacion-sonido">Nuestro espacio</a>
            </p>
          </div>
          <div class="col-12 col-md-3 col-lg-3">
            <h6>Contacto</h6>
            <p class="footer-text">
              <a href="mailto:hola@iridis.care">hola@iridis.care</a>
            </p>
            <p class="footer-text">
              <a href="https://g.page/Psicologos-Toledo?share">Tr. Cobarrubias 1, Toledo</a>
            </p>
            <p class="footer-text">
              <a href="https://iridis-care.notion.site/Terms-Conditions-dea3ff8a8d334f6aaa8923803599d95c">Términos y condiciones</a>
            </p>
            <p class="footer-text">
              <a href="https://iridis-care.notion.site/Privacy-policy-fc763c0497f745d1866bcf75b422ed70">Política de privacidad</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

