<!-- Begin Sendinblue Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
<style>
   
  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    color: #c0ccda;
  }

  ::-webkit-input-placeholder { padding-left: 5px; font-size: 24px; }
  ::-moz-placeholder { padding-left: 5px; font-size: 24px; } /* firefox 19+ */
  :-ms-input-placeholder { padding-left: 5px; font-size: 24px; } /* ie */
  input:-moz-placeholder { padding-left: 5px; font-size: 24px; }

</style>
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- START - We recommend to place the below code where you want the form in your website html  -->

<form id="sib-form" method="POST" action="https://4267f462.sibforms.com/serve/MUIEAMi88v8J1yjsch9IEyimIrcmQxX5eq2N6UADnr8263Ov26oVyiXL407qokACNH7gfSkF_cy4-ZlNcUfuaFERdCipKqHT3b02RoiroevgTq-Rjw-eUB1cuV-yep-eHOLSHG2DiYhfkwEZYz8mpq6KDANCD4KQvvTIPso829LHXzKKnXpzQR-wdvpG7VTroQ3f2D728sdyfGak">
  <!-- <div class="sib-form-block" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#3C4858; background-color:transparent; padding: 0px">
    <div class="sib-text-form-block">
      
    </div>
  </div> -->
  <div class="sib-input sib-form-block" style="padding: 0px; margin-top: -20px">
    <div class="form__entry entry_block">
      <div class="form__label-row ">
        <!-- <label class="entry__label" style="font-weight: 700; font-size:16px; text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif;" for="EMAIL" data-required="*">
          Escribe tu email para recibir  10 técnicas para combatir la ansiedad
        </label> -->
        <div class="entry__field ">
          <input class="input feature-button" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Escribe aquí tu email" data-required="true" required style="border-radius: 5px; border-color: #9B51E0" />
        </div>
      </div>
      <label class="entry__error entry__error--primary" style="font-size:16Px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color: #661d1d; background-color: #ffeded; border-radius: 3px; border-color: #ff4949;"></label>
      <label class="entry__specification" style="font-size:12px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color: #8390A4;">
        Si no te llegan las 10 técnicas revisa tu carpeta de spam.
      </label>
    </div>
  </div>

  <div class="sib-optin sib-form-block" style="padding: 0px; margin-top: -20px">
    <div class="form__entry entry_mcq">
      <div class="form__label-row ">
        <div class="entry__choice">
          <label>
            <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" />
            <span class="checkbox checkbox_tick_positive"><p style="font-size:16px; line-height: 80%;">Acepto recibir las técnicas antiestrés.</p></span> 
          </label>
        </div>
      </div>
      <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
      </label>
    </div>
  </div>
  <div class="sib-form-block" style="text-align: left; padding: 0px">
    <button class="button feature-button sib-form-block__button sib-form-block__button-with-loader" form="sib-form" type="submit"  
    onclick="gtag('event', 'get_techniques', { event_category: 'Newsletter Link', event_action: 'Click to Newsletter', event_label:'email'})">
      SÍ, QUIERO RECUDIR MI ANSIEDAD
    </button>
  </div>
  <input type="text" name="email_address_check" value="" class="input--hidden">
  <input type="hidden" name="locale" value="en">
  <input type="hidden" name="html_type" value="simple">
</form>


<!-- END - We recommend to place the below code where you want the form in your website html  -->
<!-- End Sendinblue Form -->