{% if site.data.services %}
<div class="strip" id="plans">
  
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-4">
    <div class="feature-product-title">
      <h4>Elige el mejor plan antiestrés para ti</h4>
    </div>
  </div>

  <div class="pb-6 pb-md-4 px-2">
    <div class="row justify-content-center ">
      {% for service in site.data.services %}
      <div class="col-12 col-md-6 col-lg-3 mb-2" id="{{service.link}}">
        <div class="feature{% if service.highlight %} feature-highlight{% endif %}">
          {% if service.highlight %}<p class="feature-highlight-box">⭐ La recomendación de Iridis</p>{% endif %}
          <hr>
          {% if service.image %}
          <div class="feature-image"><img alt="{{ services.title }} logo" src="{{ service.image.url | relative_url }}" width="{{ service.image.width }}" height="{{ service.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ service.title }}</h2>
          <p class="feature-description">{{ service.description }}</p>
          <div class="feature-content">
            {% if service.highlight %}
            <i data-feather="user" class="feature-icon"></i> Seguimiento personal<br>
            <i data-feather="book-open" class="feature-icon"></i> Plan de acción<br>
            <i data-feather="zap" class="feature-icon"></i>  4 x Pruebas de estrés<br>
            <i data-feather='volume-2' class='feature-icon'></i> 4 x Baños de sonidos <br> 
            {% else %}
            <i data-feather="mic" class="feature-icon"></i> Análisis de voz<br>
            <i data-feather="bar-chart-2" class="feature-icon"></i>  Informe de estrés<br>
              {% if service.not_bath %}
              <del style='color: lightgrey'><i data-feather="headphones" class="feature-icon" style='color: lightgrey'></i>  Audio personalizado</del><br>
              <del style='color: lightgrey'><i data-feather='volume-2' class='feature-icon' style='color: lightgrey'></i> Baño de sonido</del> <br>
              {% else %}
              <i data-feather="headphones" class="feature-icon"></i>  Audio personalizado <br>
              <i data-feather='volume-2' class='feature-icon'></i> Baño de sonido <br> 
              {% endif %}
            {% endif %}
            <i data-feather='clock' class='feature-icon'></i><b style="margin-left: 5px">{{ service.time }}</b>
          </div>
          
          <h3 class="feature-price">{{ service.price.price }}</h3>
          {% if service.price.session %}
          <p class="feature-description">{{ service.price.session }} / sesión</p>
          {% else %}
          <hr>
          {% endif %}
          <a class="feature-button button button-primary btn-lg" href="{{ service.url.payment | relative_url }}" onclick="gtag('event', 'start_checkout', { event_category: 'Stripe Link', event_action: 'Click to Pay', value:'{{ service.price.price }}'})">{{ service.cta }}</a>
          <hr>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}