.accordion {
  background-color:white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  
}

.active, .accordion:hover {
  color: $primary;
  font-weight: bold;
}

.panel {
  padding-top: 4px;
  display: none;
  overflow: hidden;
}

.accordion-item {
  padding-bottom: 15px !important;
  border-bottom: 0.5px solid #ccc!important;
  padding-top: 15px;
}
