.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h1 {
    color: $black;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.15rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.copies {
  line-height: 0; 
  margin-bottom: 2px;
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

.gift {
  font-size: 16px;
  margin-top: 20px;
  text-decoration: underline 0.5px;
}

.intro-image{
  background-image: url('/assets/images/product/pyramid.webp');
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px
}

.dot-1 {
  height: 20px;
  width: 20px;
  background-color: #DBC2E3;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}
.dot-2 {
  height: 20px;
  width: 20px;
  background-color: #BE8CCE;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}


.blob {
  height: 20px;
  width: 20px;
  background-color: #BE8CCE;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 6px;
  margin-bottom: -1px;
}


.blob.purple-1 {
  background:   #DBC2E3;
  box-shadow: 0 0 0 0 rgba(219, 194, 227, 1);
  animation: pulse-purple-1 2s infinite;
}

@keyframes pulse-purple-1 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(219, 194, 227, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(219, 194, 227, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(219, 194, 227, 0);
  }
}

.blob.purple-2 {
  background: #BE8CCE;
  box-shadow: 0 0 0 0 rgba(190, 140, 206, 1);
  animation: pulse-purple-2 2s infinite;
}

@keyframes pulse-purple-2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(190, 140, 206, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(190, 140, 206, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(190, 140, 206, 0);
  }
}


.blob.purple {
  background: rgba(142, 68, 173, 1);
  box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
  animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}