
.text-center {
  text-align: center;
}

.testimonial-quote {
  word-wrap: break-word;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: 300;
}

.testimonial-author {
  color: $primary;
}

