.toc__list:before {
  content: "Índice";
  font-weight: bold;
}
 
.toc__list {
  border: 2px solid #eee;
  border-radius: 4px;
  line-height: 1.8rem;
  padding: 1rem;
  list-style-type: decimal;
  font-size: 18px;
}

ol li {
  margin-left: 22px;
  // list-style-type: none;
}