---
layout: landing
bodyClass: "page-basic"
sitemap: false
---

<div class="intro">
  <div class="container-sm">
      <div class="row">
        <div class="col-12">
            <div class="feature-product" style="background-color: white; overflow: hidden;">
              {{content}}
              <div class="m-2">
                {% if page.module %}
                  <p>Módulo {{page.module}}</p>
                {% endif %}
                <h5>{{page.title}}</h5>
                <p>{{page.description}}</p>
                {% if page.pdf %}
                <a href="{{page.pdf}}" style="font-size: 16px;" ><i data-feather='download' class="feature-icon"></i> Ver lección y bibliografía </a>
                {% endif %}
                {% if page.cta %}
                  <div class="row pt-3">
                    <div class="col-12 col-md-6">
                      <p style="font-size: 18px; font-color:grey"><i data-feather='video' class="feature-icon-alt"></i> 4 horas de lecciones.</p>
                      <p style="font-size: 18px; font-color:grey"><i data-feather='clock' class="feature-icon-alt"></i> Dedica solo 15 mins al día. </p>
                    </div>
                    <div class="col-12 col-md-6">
                      <p style="font-size: 18px; font-color:grey"><i data-feather='edit-2' class="feature-icon-alt"></i> Más de 20 ejercicios prácticos.</p>
                      <p style="font-size: 18px; font-color:grey"><i data-feather='user' class="feature-icon-alt"></i> Tutorías vía email. </p>
                    </div>
                  </div>
                  <h4 style="color: #9B51E0; font-size: 34px">149€</h4>
                  <p style="color: gray; font-size: 12px;">7 días de garantía de devolución (sin preguntas)</p>
                  <div class="row px-1">
                    <a class="feature-button button button-primary btn-lg col-12 animate__animated animate__pulse" href="https://buy.stripe.com/4gw3fZ00hgFs9SE9AM" style=" text-align: center">Apuntarme</a>
                  </div>
                {% else %}
                  <div class="row px-1 pt-2">
                    <a class="feature-button button button-primary btn-lg col-12 animate__animated animate__pulse" 
                    href="https://tally.so/r/nW2zlv?lesson={{page.title}}" style=" text-align: center">Da tu opinión sobre la lección</a>
                  </div>
                {% endif %}
              </div>
            </div>
        </div> 
      </div>
      <!-- <div class="row justify-content-center pt-2 pb-2" style="text-align: center;">
        <a href="#" class="feature-button button button-primary btn-lg animate__animated animate__pulse" onclick="openForm()">Ver vídeo Gratis para saber más</a>
      </div> -->

  </div>
</div>
