---
layout: default
bodyClass: "page-home"
---

<div class="intro">
    <div class="container-sm">
      <div class="justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h1>Te ayudamos a reducir tu estrés.</h1>
        <p>Análisis de voz + Terapia de sonido</p>
        <a class="button button-primary btn-lg" href="#prices">Quiero reducir mi estrés</a>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container-sm pt-6 pb-6 pt-md-10 pb-md-10 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 pt-2 pb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="feature-product" width="100%" controls autoplay> 
              <source src="/assets/images/iridis-intro.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 mb-2">
        <!-- <h2>¿Eres una de las 3 de cada 4 personas que ha sufrido estrés en el último mes?</h2>
        <br> -->
        <p>La rutina diaria, el trabajo, los problemas personales y la incertidumbre nos hacen estar siempre alerta, 
          ir acelerados, dar vueltas a la cabeza, nos impide descansar y estar bien con nosotros mismos.</p>
        <p>Iridis te ofrece un <b>Plan Personalizado de Reducción de Estrés</b> basado en los últimos conocimientos científicos y 
          de las antiguas tradiciones contemplativas para que no seas esclavo de tu estrés y estés más saludable y presente.</p>
      </div>
    </div>
  </div>
</div>

<div class="strip" id="science">
  <div class="container-sm pt-6 pb-6 pt-md-10 pb-md-10 px-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6 mb-2">
        <h2>El estrés no es solo un nudo en el estómago...</h2>
        <br>
        <p>Día a día, aumenta nuestra carga alostática (nivel de estrés), haciéndonos enfermar, debilitando nuestro sistema inmunológico, cambia nuestros comportamientos y reduce nuestra auto estima.</p>
        <p>Ejercicios meditativos con sonidos ayudan a nuestro sistema nervioso volver a la normalidad, mejorar nuestra salud física-mental y evitar la cronificación del estrés.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6 mt-10">
        <div class="feature-image">
          <img alt="{{ page.title }}" class="img-fluid" width="100%" src="/assets/images/illustrations/stress-levels.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h2>Una experiencia sonora para relajarte y reducir tu estrés.</h2>
        <br>
        <p>La tecnología de Iridis te ayudará a saber tu nivel de estrés y conseguir un estado de relajación de ondas teta de tu cerebro.</p>
        <p>Sonidos totalmente personalizados para la frecuencia de tu cuerpo extraidos de tu voz, que son emitidos por nuestra pirámide de sonido.</p>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Análisis de voz para determinar tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/analysis.jpg" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Plan personalizado de sonidos y frecuencias
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/analysis.jpg" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Baño de sonido para reducir tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/soundbath.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.services %}
<div class="strip" id="prices">
  <div class="container-sm pt-4 pb-4 pt-md-4 pb-md-4 px-4">
    <div class="feature-product-title">
      <h2>Reserva ahora tu sesión.</h2>
    </div>
  </div>

  <div class="container-sm pb-6 pb-md-4 px-3">
    <div class="row justify-content-center">
      {% for service in site.data.services %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if service.image %}
          <div class="feature-image"><img alt="{{ services.title }} logo" src="{{ service.image.url | relative_url }}" width="{{ service.image.width }}" height="{{ service.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ service.title }}</h2>
          <div class="feature-content">Análisis de voz</div>
          <div class="feature-content">+ Baño de sonido <br> {{ service.description }}</div>
          <h3 class="feature-price">{{ service.price }}</h3>
          <hr>
          <a class="button button-primary btn-lg" href="{{ service.url | relative_url }}">{{ service.cta }}</a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="strip-white">
  <div class="container-sm pt-4 pb-4 pt-md-4 pb-md-4 px-3">
    <div class="feature-product-title pb-3">
      <h2>Nos puedes encontrar aquí</h2>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.28867166205!2d-4.025675586679072!3d39.86777133531726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a0bf0f4c89bd1%3A0x32731f7863b2e46b!2sSomos%20Humanos%20Toledo!5e0!3m2!1sen!2ses!4v1667484825691!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
