---
layout: default
bodyClass: "page-home"
---



<div class="intro">
    <div class="container-sm">
      <div class="justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h1>Reduce tu estrés en 30 minutos</h1>
        <!-- <span class="typed-text"></span><span class="cursor">&nbsp;</span> -->
        <p>A través del análisis de tu voz y un baño de sonido personalizado</p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Vuelve a la calma</i></p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Prioriza tu salud</i></p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Para tu mente</i></p>
        <a class="feature-button button button-primary btn-lg" href="#prices">Sí, quiero reducir mi estrés</a>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-6 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 pt-2 pb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="feature-product" width="100%" controls> 
              <source src="/assets/images/iridis-intro.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 pt-1">
        <!-- <h2>¿Eres una de las 3 de cada 4 personas que ha sufrido estrés en el último mes?</h2>
        <br> -->
        <p>El <b class="highlight">77% de las personas sufren estrés</b> por la rutina, los problemas personales, la incertidumbre o los miedos que nos hacen estar alerta, 
          ir acelerados, dar vueltas a la cabeza, nos cambian el humor y nos impiden descansar.</p>
        <p>Iridis te ofrece un <b class="highlight">Baño de sonido personalizado</b> basado en los últimos avances científicos y 
       tradiciones contemplativas para que no seas esclavo de tu ansiedad.</p>
      </div>
    </div>
  </div>
</div>

<div class="strip" id="science">
  <div class="container-sm pt-6 pb-6 pt-md-6 pb-md-6 px-3">
    <div class="feature-product-title pb-4">
      <h2>El estrés no es solo un nudo en el estómago</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6">
        <p>Día a día los niveles de cortisoles aumentan <b class="highlight">debilitando nuestro sistema inmunológico</b>, cambiando nuestros comportamientos y <b class="highlight"> aniquilando nuestra autoestima</b>.</p>
        <p>Ejercicios meditativos con <b class="highlight">sonidos específicos mediante resonancia simpática estimulan la segregación de oxitocina</b>, reduciendo el estrés y mejorando nuestra salud cuerpo-mente.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="feature-image">
          <img alt="{{ page.title }}" class="img-fluid" width="100%" src="/assets/images/illustrations/stress-levels.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6 px-3">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <h2 class="pb-2">
            Un espacio de relajación del que no querrás marchar
          </h2>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Pirámide de meditación</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Luz del amanecer</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Aromaterapia</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-2">
          <img alt="Iridis pirámide de meditación y sonido" class="feature-product img-fluid" width="100%" src="/assets/images/product/pyramid.webp" />
        </div>
      </div>
    </div>
</div>


<div class="strip">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h2>Una experiencia sonora y meditativa super relajante para reducir tu angustia</h2>
        <br>
        <p>La tecnología de Iridis te ayudará a:</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <b class="highlight">Conocer tu estrés y las frecuencias de tu cuerpo</b> a partir de tu voz</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Crear <b class="highlight">sonidos personalizados</b></sonidos> para la frecuencia de tu cuerpo</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Conseguir un <b class="highlight">estado meditativo</b> relajante</p>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pt-6 pb-2 pt-md-6 pb-md-2 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-3">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Análisis de voz para determinar tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="Iridis te analiza la voz" class="feature-product img-fluid" width="100%" src="/assets/images/product/voice.webp" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-3">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Plan personalizado de sonidos 
          </h2>
          <div class="feature-image pt-4">
            <img alt="Iridis extrae las frecuecnias de tu voz" class="feature-product img-fluid" width="100%" src="/assets/images/product/analysis.webp" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-3">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Baño de sonido para reducir tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="Iridis crea un baño de sonido para reducir tu estrés" class="feature-product img-fluid" width="100%" src="/assets/images/product/soundbath_2.webp" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
    <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-4">
      <div class="feature-product-title">
        <h2>Después de esta experiencia</h2>
      </div>
    </div>
    <div class="container-sm pb-6 pb-md-4 px-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Sabrás tu estrés actual</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Pararás mentalmente</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Reducirás tu angustia</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Aumentarás tu bienestar</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Volverás a la calma</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Te sentirás mejor</p>
        </div>
      </div>
    </div>
</div>

<div class="strip-white pb-8">
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-3">
    <div class="feature-product-title">
      <h2>Así opinan nuestros usuarios</h2>
    </div>
  </div>
  <div class="container-sm px-4">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for item in site.data.testimonials %}
            {% if item.active %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item ">
            {% endif %}
                <div class="text-center">
                  <p class="testimonial-quote">"{{item.quote}}"</p>
                  <h3 class="testimonial-author">{{item.author}}</h3>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.services %}
<div class="strip" id="prices">
  
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-4">
    <div class="feature-product-title">
      <h2>Reserva ahora tu sesión de reducción de estrés</h2>
    </div>
  </div>

  <div class="pb-6 pb-md-4 px-2">
    <div class="row justify-content-center ">
      {% for service in site.data.services %}
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="feature {% if service.highlight %} feature-highlight {% endif %}">
          <hr>
          {% if service.image %}
          <div class="feature-image"><img alt="{{ services.title }} logo" src="{{ service.image.url | relative_url }}" width="{{ service.image.width }}" height="{{ service.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ service.title }}</h2>
          <div class="feature-content">🎙️ Análisis de voz {% if service.multiple %} x4{% endif %}</div>
          <div class="feature-content">📋 Informe estrés {% if service.multiple %} x4{% endif %}</div>
          <div class="feature-content">🎵 Audio personal {% if service.multiple %} x4{% endif %}</div>
          <div class="feature-content">{{ service.description }}</div>
          <h3 class="feature-price">{{ service.price }}</h3>
          <hr>
          <a class="feature-button button button-primary btn-lg" href="{{ service.url.booking | relative_url }}" onclick="gtag('event', 'click', { event_category: 'Booking Link', event_action: 'Click to Pay', event_label:'{{ service.price }}'})">{{ service.cta }}</a>
          <hr>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="strip">
    <div class="container pb-6  pb-md-6">
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
          <div class="feature-product-title pb-3">
            <h2>Cómo se realiza la reserva y el pago de tu sesión</h2>
          </div>
          <p>📅 Pulsa sobre la sesión deseada para reserva tu fecha y hora </p>
          <p>💳 Realiza el pago después de reservar tu sesión</p>
          <p>✉️ Recibirás un email con la confirmación</p>
          <p>👁️ <b>Podrás cambiar tu reserva tantas veces como quieras</b>, pero no te devolveremos el dinero porque queremos que te cuides. Te lo ponemos fácil. Si no vienes es porque no priorizas tu salud.</p>
          <p>Escríbenos a <a href="mailto:hola@iridis.care?subject=Tengo una duda">hola@iridis.care</a> con cualquier duda que tengas, estaremos encantados de responder.</p>
        </div>
      </div>
    </div>
  </div>
  

<div class="strip-white">
  <div class="container-sm pt-4 pb-4 px-3">
    <div class="feature-product-title">
      <h2>Puedes visitarnos en <a href="https://g.page/Psicologos-Toledo?share">Tr.ª Cobarrubias, 1, Toledo</a></h2>
      <p>Horario: 16:00 - 21:00 (L, M, X, J) y 10:30 - 13:00 (Viernes)</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.28867166205!2d-4.025675586679072!3d39.86777133531726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a0bf0f4c89bd1%3A0x32731f7863b2e46b!2sSomos%20Humanos%20Toledo!5e0!3m2!1sen!2ses!4v1667484825691!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="strip">
  <div class="container-sm pt-4 pb-2 px-3">
    <div class="feature-product-title pb-4">
      <h2>Los agobios pueden venir en cualquier momento</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 pb-4">
        <img alt="10 consejos para reducir el estrés" class="feature-product img-fluid" width="100%" src="/assets/images/product/advices.webp" />
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <p>Si vuelven los nudos en el estómago, las ansiedades o las noches donde la cabeza no para, tenemos <b>10 consejos para que aprendas a reducir tu estrés cuando y donde lo necesites</b>. Totalmente GRATIS.</p>
        {% include form.html %}
      </div>
    </div>
    <br>
  </div>
</div>

<div class="strip-white">
    <div class="container-sm pt-4 pb-4 px-3">
      <div class="feature-product-title pb-2">
        <h2>Preguntas frecuentes</h2>
      </div>

      {% for data in site.data.faq %}
      <div class="pb-3">
        <button class="accordion">{{data.question}}   <i class="fa fa-angle-right"></i></button>
        <div class="panel">
          <p>{{data.answer}}</p>
        </div>
      </div>
      {% endfor %}

    </div>
</div>

<a href="https://api.whatsapp.com/send?phone=34686322484&text=Hola, te quería preguntar una cosa." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
