---
layout: default
bodyClass: "page-home"
---

<div class="intro">
    <div class="container-sm">
      <div class="justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h1>Te ayudamos a reducir tu estrés</h1>
        <!-- <span class="typed-text"></span><span class="cursor">&nbsp;</span> -->
        <p>A través del análisis de tu voz y terapia de sonido personalizada</p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Descansa mentalmente</i></p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Vuelve a la calma</i></p>
        <p style="line-height: 0"><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <i>Prioriza tu cuerpo y mente</i></p>
        <a class="feature-button button button-primary btn-lg" href="#prices">Quiero reducir mi estrés</a>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-6 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 pt-2 pb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="feature-product" width="100%" controls> 
              <source src="/assets/images/iridis-intro.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 mb-2">
        <!-- <h2>¿Eres una de las 3 de cada 4 personas que ha sufrido estrés en el último mes?</h2>
        <br> -->
        <p>El <b class="highlight">77% de las personas sufren estrés</b> por la rutina diaria, el trabajo, los problemas personales, la incertidumbre y nuestros miedos que nos hacen estar siempre alerta, 
          ir acelerados, dar vueltas a la cabeza, nos cambian el humor, nos impide descansar y estar bien con nosotros mismos.</p>
        <p>Iridis te ofrece un <b class="highlight">Plan Personalizado de Reducción de Estrés</b> basado en los últimos conocimientos científicos y 
          de las antiguas tradiciones contemplativas para que no seas esclavo de tu estrés. Estando más saludable y presente.</p>
      </div>
    </div>
  </div>
</div>

<div class="strip" id="science">
  <div class="container-sm pt-6 pb-6 pt-md-6 pb-md-6 px-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
        <h2>El estrés no es solo un nudo en el estómago...</h2>
        <br>
        <p>Día a día, aumenta nuestra carga alostática (nivel de estrés), <b class="highlight">haciéndonos enfermar, debilitando nuestro sistema inmunológico</b>, cambia nuestros comportamientos y <b class="highlight">reduce nuestra auto estima</b>.</p>
        <p>Ejercicios meditativos con <b class="highlight">sonidos específicos estimulan la segregación de oxitocina</b>. Regulando nuestras emociones, reudiciendo el estrés y mejorando nuestra salud física y mental. Así puedes evitar la cronificación del estrés y 2.8 años de vida que te quita.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6 pt-md-6 mt-md-10">
        <div class="feature-image">
          <img alt="{{ page.title }}" class="img-fluid" width="100%" src="/assets/images/illustrations/stress-levels.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container py-6 px-3">
    <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/pyramid_h.jpg" />
  </div>
</div>


<div class="strip">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h2>Una experiencia sonora y meditativa super relajante para reducir tu estrés</h2>
        <br>
        <p>La tecnología de Iridis te ayudará a:</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> <b class="highlight">Conocer tu estrés y tus notas musicales</b> a partir de tu voz</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Crear <b class="highlight">sonidos personalizados</b></sonidos> para la frecuencia de tu cuerpo</p>
        <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Conseguir un <b class="highlight">estado meditativo</b> de ondas cerebrales theta</p>
      </div>
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pt-6 pb-4 pt-md-6 pb-md-3 px-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Análisis de voz para determinar tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/analysis.jpg" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Plan personalizado de sonidos 
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/soundbath.jpg" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-2 pb-4">
        <div class="feature-content">
          <h2 class="feature-product-title">
            Baño de sonido para reducir tu estrés
          </h2>
          <div class="feature-image pt-4">
            <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="/assets/images/product/pyramid.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
    <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-4">
      <div class="feature-product-title">
        <h2>Después de esta experiencia</h2>
      </div>
    </div>
    <div class="container-sm pb-6 pb-md-4 px-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Sabrás tu estrés actual</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Volverás a la calma</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Reducirás tu estrés</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Pararás mentalmente</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Te sentirás mejor</p>
          <p><i class="fa fa-check" aria-hidden="true" style="color:#219653"></i> Aumentarás tu bienestar</p>
        </div>
      </div>
    </div>
</div>

<div class="strip-white pb-8">
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-3">
    <div class="feature-product-title">
      <h2>Así opinan nuestros usuarios</h2>
    </div>
  </div>
  <div class="container-sm px-4">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for item in site.data.testimonials %}
            {% if item.active %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item ">
            {% endif %}
                <div class="text-center">
                  <p class="testimonial-quote">"{{item.quote}}"</p>
                  <h3 class="testimonial-author">{{item.author}}</h3>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.services %}
<div class="strip" id="prices">
  <div class="container-sm pt-6 pb-4 pt-md-6 pb-md-4 px-4">
    <div class="feature-product-title">
      <h2>Reserva ahora tu sesión de reducción de estrés</h2>
    </div>
  </div>

  <div class="container-sm pb-6 pb-md-4 px-3">
    <div class="row justify-content-center">
      {% for service in site.data.services %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature {% if service.highlight %} feature-highlight {% endif %}">
          <hr>
          {% if service.image %}
          <div class="feature-image"><img alt="{{ services.title }} logo" src="{{ service.image.url | relative_url }}" width="{{ service.image.width }}" height="{{ service.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ service.title }}</h2>
          <div class="feature-content">🎙️ Análisis de voz</div>
          <div class="feature-content">📋 Informe de estrés</div>
          <div class="feature-content">🎵 MP3 personal</div>
          <div class="feature-content">{{ service.description }}</div>
          <h3 class="feature-price">{{ service.price }}</h3>
          <hr>
          <a class="feature-button button button-primary btn-lg" href="{{ service.url.booking | relative_url }}" onclick="gtag('event', 'click', { event_category: 'Booking Link', event_action: 'Click to Pay', event_label:'{{ service.price }}'})">{{ service.cta }}</a>
          <hr>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="strip">
    <div class="container pb-6  pb-md-6">
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
          <div class="feature-product-title pb-3">
            <h2>Cómo se realiza la reserva y el pago de tu sesión</h2>
          </div>
          <p>📅 Reservas tu fecha y hora deseada</p>
          <p>💳 Seguidamente realizas tu pago</p>
          <p>✉️ Te confirmamos la reserva vía email</p>
          <p>👁️ Como queremos que priorices tu bienestar y te cuides, podrás cambiar tu reserva tantas veces como quieras, pero no te devolveremos el dinero. Si no vienes es porque no priorizas tu salud.</p>
        </div>
      </div>
    </div>
  </div>
  

<div class="strip-white">
  <div class="container-sm pt-4 pb-4 pt-md-4 pb-md-4 px-3">
    <div class="feature-product-title pb-3">
      <h2>Puedes visitarnos en la siguiente dirección</h2>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.28867166205!2d-4.025675586679072!3d39.86777133531726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a0bf0f4c89bd1%3A0x32731f7863b2e46b!2sSomos%20Humanos%20Toledo!5e0!3m2!1sen!2ses!4v1667484825691!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<a href="https://api.whatsapp.com/send?phone=34686322484&text=Hola, te quería preguntar una cosa." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
