---
layout: default
bodyClass: "page-basic"
---

{% include sticky-cta.html %}

<div class="intro">
    <div class="container-sm">
        <div class="justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
                <h1 class="title">{{page.title}}</h1>
                <p>{{page.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="strip-white">
    <div class="container-sm pt-2 pb-6 px-3">
        <div class="content">{{content}}</div>
    </div>
</div>

  
<div class="strip">
    <div class="container-sm pt-4 pb-2 px-3">
        <div class="feature-product-title pb-4">
        <h4>Los agobios pueden venir en cualquier momento</h4>
        </div>
        <div class="row">
        <div class="col-12 col-md-6 col-lg-6 pb-4">
            <img alt="10 consejos para reducir el estrés" class="feature-product img-fluid" width="100%" src="/assets/images/product/advices.webp" />
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <p>Si vuelven los nudos en el estómago, las ansiedades o las noches donde la cabeza no para, tenemos <b>10 consejos para que aprendas a reducir tu estrés cuando y donde lo necesites</b>. Totalmente GRATIS.</p>
            {% include form.html %}
        </div>
        </div>
        <br>
    </div>
</div>

 