---
layout: default
bodyClass: "page-basic"
---

{% include sticky-cta-blog.html %}

<div class="intro">
  <div class="container-sm">
    <div class="justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 order-2 order-md-1">
        <h1 class="title">{{page.title}}</h1>
        <p>{{page.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="strip-white">
  <div class="container-sm pt-2 pb-6 px-3">
    <div class="row">
      <div class="col-12 col-md-2 col-lg-2"></div>
      <div class="col-12 col-md-8 col-lg-8">
        <div class="feature-image mb-2 mt-2">
          <img alt="{{ page.title }}" class="feature-product img-fluid" width="100%" src="{{page.image}}" />
        </div>
        <div class="content">{{content}}</div>
      </div>
    </div>
    
  </div>
</div>

{% include posts-latest-white.html %}

<div class="strip">
  <div class="container-sm pt-6 px-3">
    <div class="feature-product-title pb-2">
      <h6 class="animate__animated animate__pulse">CONSIGUE TU COPIA GRATIS</h6>
      <h4 class="animate__animated animate__pulse">Guía para controlar la ansiedad y el estrés con terapias, técnicas y trucos</h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-5 pb-4">
        <img alt="Guía para la ansiedad y el estrés. Terapias, técnicas y trucos para épocas complicadas y tener claridad mental." class="animate__animated animate__bounceInLeft feature-product img-fluid" width="100%" src="/assets/images/ebook.png" />
      </div>
      <div class="col-12 col-md-7 col-lg-7 animate__animated animate__bounceInRight">
        <p style="font-size: 18px">Controla la ansiedad y reduce el estrés con <b>técnicas y trucos que puedes hacer en menos de 5 minutos donde y cuando lo necesites</b>, más terapias para mirarte al espejo y tener paz mental de por vida.</p>
        <p style="font-size: 18px">Escribe <b>tu email abajo y recibe una copia en PDF</b>.</p>
        <div class="pb-2">
          <p class="copy" style="font-size: 18px"><i data-feather='check' class="feature-icon"></i> <i><b>Di adiós a la ansiedad</b> sin efectos secundarios</i></p>
          <p class="copy" style="font-size: 18px"><i data-feather='check' class="feature-icon"></i> <i><b>Entiende qué está pasando</b> en tu cuerpo y mente</i></p>
          <p class="copy" style="font-size: 18px"><i data-feather='check' class="feature-icon"></i> <i>Descubre <b>cómo hacer frente al cambio</b></i></p>
        </div>
        {% include form.html %}
      </div>
    </div>
    <br>
  </div>
</div>

 